<!DOCTYPE html>
<html lang="en">
<head>
        <title>Getting Started With WebXR: Part 4 - Mobile Sessions</title>
        <script type="module" src="~/scripts/core/setup.js"></script>
        <link rel="stylesheet" href="~/css/index.css" />
</head>
<body >
    @RenderBody()
    
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>